$font-size: 12px, 14px, 16px, 18px, 24px, 26px, 46px;
$i: 0;
@each $size in $font-size {
  .text-#{$i} {
    font-size: $size;
  }
  $i: $i + 1;
}

.text-bold {
	font-weight: bold;
}

.text-normal{
	font-weight: normal;
}

.text-capitalize{
	text-transform: capitalize;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

@media (max-width: 750px) {
	.text-left{
		margin-left: 2rem;
	}
}